<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario d-flex flex-column justify-content-center">

    <div class="Main-title jumbotron mx-auto justify-content-center text-center">
      <h1>¡Alcanza tu sueño!</h1>
      <!-- <img src="assets/img/title.gif" class="border border-dark" style="height:180px ;width:180px"> -->
    </div>

    <div class="form-group mx-auto">
      <input id="contribution" type="number" formControlName="contribution" class="form-control" placeholder="Aporte Mensual (S/.)">
    </div>
  
    <div class="form-group mx-auto">
      <select class="custom-select form-group"(change)="onChange($event.target.value)" [value] = "contributionYears[0].value" id="select" formControlName="select">
          <option *ngFor= "let contributionYear of contributionYears" class="form-control" [value]="contributionYear.value">{{contributionYear.value}} años aportados</option>
      </select>  
    </div>

    <button class="button btn btn-outline-info mx-auto rounded" type="submit">Calcular</button>

    <div class="mx-auto justify-content-center text-center" *ngIf="contributionSee.total">
        <table class="table table-bordered table-hover table-dark">
          <thead>
            <th>N°</th>
            <th>Aporte rentable (S/.)</th>
            <th>N° años aportados</th>            
            <!-- <th>Aporte Total</th>
            <th>Aporte Fijo</th>
            <th>Aporte Rentable</th> -->
          </thead>
          <tbody class="table-info text-dark">
            <tr class="table-info text-dark" *ngFor="let formInput of formInputs; let indice=index">
              <td>{{indice+1}}</td>
              <td>{{formInput.contribution}}</td>
              <td>{{formInput.contributionYears}}</td>
            </tr>
            <!-- <tr>
              <td>{{}}</td>
              <td>S/ {{contributionSee.total}}</td>
              <td>S/ {{contributionSee.fixed}}</td>
              <td class="bg-warning">S/ {{contributionSee.variable}}</td>
            </tr> -->
          </tbody>
        </table>
        <button class="button btn btn-outline-danger mx-auto rounded"(click)="formSave(checkoutForm.value)">Guardar</button>
    </div>

</form>
