<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario d-flex flex-column justify-content-center">

    <div class="form-group mx-auto">
      <label for="contribution">
        Aporte Mensual (S/.)
      </label>
      <input id="contribution" type="number" formControlName="contribution" class="form-control">
    </div>
  
    <div class="form-group mx-auto">
      <label for="contributionmounths">
        N° meses aportados:
      </label>
      <input id="contributionmounths" type="number" formControlName="contributionmounths" class="form-control">
    </div>

    <div class="form-group mx-auto">
      <label for="rate">
        Tasa Anual %:
      </label>
      <input id="rate" type="number" formControlName="rate" class="form-control">
    </div>        

    <div class="form-group mx-auto">
      <label for="withdrawal">
        Monto a retirar %:
      </label>
      <input id="withdrawal" type="number" formControlName="withdrawal" class="form-control">
    </div>

    <div class="form-group mx-auto">
      <label for="lifeYears">
        Años de vida restantes: 
      </label>
      <input id="lifeYears" type="number" formControlName="lifeYears" class="form-control">
    </div>
    
    <button class="button btn btn-outline-info mx-auto" type="submit">Calcular</button>
</form>
