<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario d-flex flex-column justify-content-center">

    <div class="Main-title jumbotron mx-auto justify-content-center text-center">
      <h1>¡Alcanza tu sueño!</h1>
      <img src="assets/img/title.gif" class="border border-dark" style="height:180px ;width:180px">
    </div>

    <div class="form-group mx-auto">
      <label for="contribution">
        Aporte Mensual (S/.)
      </label>
      <input id="contribution" type="number" formControlName="contribution" class="form-control">
    </div>
  
    <div class="form-group mx-auto">
      <label for="contributionmounths">
        N° meses aportados:
      </label>
      <input id="contributionmounths" type="number" formControlName="contributionmounths" class="form-control">
    </div>
    
    <button class="button btn btn-outline-info mx-auto rounded" type="submit">Calcular</button>
</form>
